

</body>

<footer>
  <ul>
    <li>
      Akhil Attri
    </li>
    <li>
      <a href="https://www.flaticon.com/free-icons/wishlist" title="wishlist icons">Wishlist icons created by Uniconlabs - Flaticon </a>
    </li>
    <li>
      <a href="https://www.flaticon.com/free-icons/wishlist" title="wishlist icons">Wishlist icons created by feen - Flaticon</a>
    </li>
    <li>
      <a href="https://www.flaticon.com/free-icons/clapperboard" title="clapperboard icons">Clapperboard icons created by Prosymbols - Flaticon</a>
    </li>
  </ul>
  
</footer>

</html>