<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="data:,">
  <title>WishList</title>
  <link rel="icon" href="res/player.png" type="image/png">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>