<%- include("head") -%>

<div class="main">
    <div class="left">
        <div class="title">
            Finished
        </div>
        <div class="fin">
            <!-- <div class="title">
                Finished
            </div> -->
            <ul>
                <li>the kite runner</li>
                <li>a thousand splendid suns</li>
                <li>the fault in out stars</li>
                <li>the rudest book ever</li>
                <li>the subtle art of not giving a fuck</li>

                <li>the kite runner</li>
                <li>a thousand splendid suns</li>
                <li>the fault in out stars</li>
                <li>the rudest book ever</li>
                <li>the subtle art of not giving a fuck</li>
            </ul>
        </div>
        <div class="title">
            Did Not Finish
        </div>
        <div class="dnf">
            <!-- <div class="title">
                Did Not Finish
            </div> -->
            <ul>
                <li>deep work</li>
                <li>atomic habits</li>
                <li>ikigai</li>

                <li>deep work</li>
                <li>atomic habits</li>
                <li>ikigai</li><li>deep work</li>
                <li>atomic habits</li>
                <li>ikigai</li><li>deep work</li>
                <li>atomic habits</li>
                <li>ikigai</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="title">
            To Be Read
        </div>
        <div class="tbr">
            <!-- <div class="title">
                To Be Read
            </div> -->
            <ul>
                <li>deep water</li>
                <li>the nine chambered heart</li>

                <li>deep water</li>
                <li>the nine chambered heart</li><li>deep water</li>
                <li>the nine chambered heart</li><li>deep water</li>
                <li>the nine chambered heart</li><li>deep water</li>
                <li>the nine chambered heart</li><li>deep water</li>
                <li>the nine chambered heart</li><li>deep water</li>
                <li>the nine chambered heart</li><li>deep water</li>
                <li>the nine chambered heart</li>
            </ul>
        </div>
    </div>
</div>

<%- include("foot") -%>